<!DOCTYPE html>
<html>

{% include head.html %}

<body>
<noscript> 
<iframe src="*.htm"></iframe> 
</noscript> 
{% include header.html %}

<div class="main">
    <div class="container">
        {{ content }}
    </div>
    <div class="page-scrollTop" data-toggle="tooltip" data-placement="top" title="Top">
        <a href="javascript:void(0);">
            <div class="arrow"></div>
            <div class="stick"></div>
        </a>
    </div>
</div>

{% include footer.html %}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?41ef2b5db99a9764dcda0d3dca2f5fee";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</body>
</html>
